<!DOCTYPE html>
{% load staticfiles %}


<html>
<head>
    <meta charset="UTF-8">
    <title>PFS</title>
</head>
<body>
    <h1>
        PFS says...
    </h1>
    <div>Get ready to see some stats!</div>
    <div>
        <a href="/pfs/about/">About</a> <br />
        <a href="/pfs/stats1/">Let's see some stats!</a> <br />
        <a href="/pfs/stats2/">Stats 2</a>

        <img src="{% static 'images/analysis.jpg' %}" alt="Picture of analysis" />
    </div>
</body>
</html>
